################################################
#
#    Configuration file for MO Agent 
#    
################################################    

[common]
debug-level =1

# 절대 경로
mms-file-path =

# dir path yyyymmdd(type = 1)
mms-file-path-type =1

[host]
# The SMS server IP or DNS name
host-name = 
svc-port =

[bindInfo]
bind-id =
bind-passwd =

[dbms]
# 'mssql' or 'mysql' or 'oracle' or 'sybase' or 'db2' or 'informix' or 'tibero'
dbms-type =
dbms-host =

# default port - Oracle:1521, MySQL:3306, MSSQL:1433, Sybase:5000, db2:50000, informix: 9091, tibero: 8629
dbms-port =

# dbms-name 에 oracle은 SID
dbms-name =
dbms-user =
dbms-passwd =

#connect-url =jdbc:mysql://localhost:3306/sms?characterEncoding=euc-kr
connect-url =

# euckr or UTF8, sybase : euc-kr or eucksc
character-set =euckr

# result table, 'none' or 'fixed' or 'month'
create-motable =month

[nettodbms]
# 한글이 깨지면 값을 세팅한다. 
# 보통은 EUC-KR, UTF-8, sybase는 ISO-8859-1 
ksc5601to =
