################################################
#
#    Configuration file for msg(sms/mms) agent
#
################################################

[common]
# �������̺�(msg_queue_block) ���? ����
spam-check =no

# �ʴ� �߼۰Ǽ� ����
send-per-sec =80

# �߼۸޽��� ��ȿ�ð� üũ(�⺻ 12�ð�),�ʴ���
fetch-msg-valid=43200

# �޽��� �߼� �ð� ����, �߼۽��۽ð�/ �߼�����ð�? ����
send-strt-time =0000
send-term-time =0000

# ���߽� ����, 'SR':�ۼ���, 'R':�����? ����
sms-transive =SR

# �α����� �����ϼ�
delete-logfile-after =10

# �޽��� �ߺ��߼ۿ��� üũ(�Ϸ����?) ( 'yes' or 'no' )
msg-dup-check=no

# the message alive time after send to sms gateway (deprecated)
#expire-time =43200

# mms �߼� ���� �ִ������? (���� kbyte)
max-file-size = 1000

# �߼��� ���? ���� �ð� (����: �ð�);
report-wait-timeout = 72

debug-level = 1

# �޽��� ���۹��? : async, sync

socket-type =async
react-time=5

# Reseller Code ( <Reseller-Code> or 'none' )
reseller-code   = 302170007

[host]
# The SMS server IP or DNS nam
host-name = 202.30.241.150

# The SMS service port
# sms bind information, cid(nubmer), sms id and password

sms-send-port = 7000
mms-send-port = 7100
kakao-send-port = 7250
rep-recv-port = 7200

[bindthread]
# �߼۽����� ����(�ִ� 5)
send-thread-cnt =1

[bindInfo1]
bind-cid1    = 91143
bind-id1     = Kkorea
bind-passwd1 = dlsvmfk12!

[bindInfo2]
bind-cid2    =
bind-id2     =
bind-passwd2 =

[bindInfo3]
bind-cid3    =
bind-id3     =
bind-passwd3 =

[bindInfo4]
bind-cid4    =
bind-id4     =
bind-passwd4 =

[bindInfo5]
bind-cid5    =
bind-id5     =
bind-passwd5 =

[phoneauth]
# ��ȭ���� ���� 0-��ȭ���� ���� 1-��ȭ������
phone-auth =0
# sec
auth-timeout = 300


[dbms]
# 'mssql' or 'mysql' or 'oracle' or 'sybase' or 'db2' or 'informix' or 'tibero' or 'postgres'
dbms-type   = mysql
#dbms-host   = 15.165.94.122
dbms-host   = 10.12.14.150

#Oracle:1521, MySQL:3306, MSSQL:1433, Sybase:5000, db2:50000, informix: 9091, tibero: 8629, postgres: 5432
dbms-port   = 3306

# Informix �� �ش�
srv-name    =

# Postgres �� �ش�
schema-name = msg

# DB Name or SID for Oracle
dbms-name   = msg
#dbms-user   = sampleUser
#dbms-passwd =1234

dbms-user   = gugasms
dbms-passwd = guga!%2019

# Ư���� db connection url �� �ʿ��� ���? ����
connect-url =

# mssql �ϰ��? ���� ex) dbo.mod
mod-function =

# 'default' or 'euckr' or 'UTF8', sybase : euc-kr or eucksc
# UTF8 ����ϴ�? ���� 'default' �� ����, �ȵǸ� ������ 'UTF8' ����
# ����Ŭ�� ���? 'UTF8' ����.
character-set = default

# euckr �� ĳ���ͼ��� ���� ������ �� 'yes' ���� (* MySQL ���� / �ʿ��� ��쿡��? ���� *)
mysql-setnames-euckr = no

# the select interval from sms_msg table, default is 2 sec. (1~10)
select-interval =1

# sort after select 'order by reqdate asc, msgkey asc'('yes' or 'no')
select-sort =yes

# 1-req date, 2-term date
move-report =2

# message trim(ltrim, rtrim), trim character : space,tab,CR
# trim-message =yes

#�߼� ���̺�
send-table-name=msg_queue
# ���� ���̺�
dongbo-table-name=msg_dstaddr_list
# yyyymm �� �����?, �������? �ٲ�ϴ�?. ������ �׳� ���� ���̺� 'none' �ϰ��? ������
rslt-table-name=msg_result_yyyymm
# spam table name
block-table-name=msg_queue_block

# �� ���� ���̺� ȣȯ�� ����
support_v16=no

[column]

# �⺻ ���̺��� Į���� �߰����� �� �������־��? ��.
# sql/[dbmstype]/tbl_msg_queue.sql, tbl_msg_result.sql �Ѵٿ� Į���� �߰� �� �� ����
# �ִ� 5������ �߰� ����.
expand-column1 =
expand-column2 =
expand-column3 =
expand-column4 =
expand-column5 =
